/* vars */
:root {
  --primary-color: #29ad9f;
  --secondary-color: #6c757d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.5625rem;
}
a {
  text-decoration: none;
  display: inline-block;
}

.navbar-collapse {
  flex-grow: unset;
}

.navbar-toggler {
  border: none;
  padding: unset;
}

.active {
  color: var(--primary-color) !important;
}

/* cart icon */
.shopping-cart {
  color: #575757;
}
.shopping-cart:hover {
  color: #373838;
}

/* input number fix */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.qty-btn {
  cursor: pointer;
}

/* btn fix */
.btn:active {
  border-color: transparent !important;
}
.btn:hover {
  color: #fff;
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}
.btn-fix:hover {
  color: var(--primary-color) !important;
  background-color: unset !important;
  border-color: #fff !important;
}

.hover-fix:hover {
  background-color: transparent !important;
  border-color: transparent !important;
}
.dropdown-item:active {
  background-color: var(--primary-color) !important;
}
.dropdown-toggle:hover {
  color: var(--bs-btn-hover-color) !important;
  background-color: var(--bs-btn-hover-bg) !important;
  border-color: var(--bs-btn-hover-border-color) !important;
}
.btn-close {
  height: 0.4rem;
  width: 0.4rem;
}
/* nav link hover transition */
.nav-link {
  transition: all 0.2s ease-out;
}

/* form control fix */
.form-control:focus,
.form-select:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.15rem #29ada02f;
}

.container-fix {
  padding: 0 7.625rem !important;
}
/* container fix responsive */
@media screen and (max-width: 768px) {
  .container-fix {
    padding: 0 4.625rem !important;
  }
}
@media screen and (max-width: 500px) {
  .container-fix {
    padding: 0 1.625rem !important;
  }
}
.padding-right-fix {
  padding-right: unset !important;
}

.card-img-overlay {
  /* top: unset; */
  background: linear-gradient(45deg, #000000f7, transparent);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.card:hover .card-img {
  scale: 1.1;
}
.card-img {
  transition: all 0.2s ease-out;
}

.card {
  border: none;
  border-radius: unset;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) !important;
  overflow: hidden;
}

.card-text {
  color: #000 !important;
}

.section-title {
  font-size: 3.125rem;
  font-weight: 500;
  letter-spacing: 2px;
}

.btn {
  letter-spacing: 2px;
}

/* Home */
.hero-background-img {
  padding: unset;
  background: url("../src/images/hero/circles.svg") no-repeat;
  background-size: cover;
  background-position: center 100%;
  height: 46.625rem;
}

.hero-container {
  height: 37.75rem;
  width: 95% !important;
  height: 75% !important;
  /* opacity: 75%; */
  background-color: rgba(255, 255, 255, 0.75);
}

/* hero responsive */
@media screen and (max-width: 1024px) {
  .hero-background-img {
    height: 36.625rem;
  }
  .hero-container {
    height: 80% !important;
  }
}
@media screen and (max-width: 768px) {
  .hero-background-img {
    height: 42.625rem;
  }
  .hero-container {
    height: 90% !important;
    padding: 1rem;
  }
  .hero-carousel,
  .hero-text {
    place-items: flex-start !important;
  }
  .hero-title {
    width: 75% !important;
  }
}
@media screen and (max-width: 500px) {
  .hero-background-img {
    height: 47.625rem;
  }
  .hero-container {
    height: 90% !important;
  }
}

.hero-carousel,
.hero-text {
  place-items: center;
}
.hero-title {
  width: 100%;
  height: 100%;
}

.carousel-inner {
  max-width: 42.75rem !important;
  height: 27.0625rem !important;
  max-height: 27.0625rem !important;
  object-fit: cover;
}

/* carousel responsive */
@media screen and (max-width: 1024px) {
  .carousel-inner {
    height: 21.5rem !important;
  }
}
@media screen and (max-width: 768px) {
  .carousel-inner {
    height: 19rem !important;
  }
}
@media screen and (max-width: 500px) {
  .carousel-inner {
    height: 17.25rem !important;
  }
}

/* Collect section */
.collection-section {
  /* height: 57.625rem; */
  background: #f5f5f5;
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}
.collection-container {
  /* display: flex;
  justify-content: center; */
  margin-top: 1rem !important;
}
.section-title {
  margin: unset;
}

.main-card {
  height: 30.5rem !important;
  max-width: 100% !important;
}
.side-card {
  height: 14.6875rem !important;
  max-width: 100% !important;
}

.card::after {
  content: "";
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  width: 100%;
  height: 100%;
}

.card-img {
  height: 100%;
  object-fit: cover;
}

/* collection responsive */
@media screen and (max-width: 1024px) {
  .main-card {
    height: 34.5rem !important;
    max-width: 100% !important;
  }
  .side-card {
    height: 16.6875rem !important;
    max-width: 100% !important;
  }
}
@media screen and (max-width: 768px) {
  .main-card {
    height: 20rem !important;
    max-width: 100% !important;
  }
  .side-card {
    height: 20rem !important;
    max-width: 100% !important;
  }
}
@media screen and (max-width: 500px) {
  .collection-container {
    margin-top: 2rem !important;
  }
  .main-card {
    height: 15rem !important;
    max-width: 100% !important;
  }
  .side-card {
    height: 15rem !important;
    max-width: 100% !important;
    margin-top: 1rem;
  }
}

/* Quality Section */
.quality-section {
  text-align: center;
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}
.quality-title {
  font-size: 1.875rem;
  font-weight: 500;
  letter-spacing: 2px;
}
.quality-text {
  font-weight: 300;
  font-size: 1.5rem;
}
.icon-color {
  color: var(--primary-color);
}

/* SHOP PAGE */
.shop-section {
  background: #f5f5f5;
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
  /* height: 100vh !important; */
}
.menu-btn {
  border: none;
  background: transparent;
  transition: all 0.2s ease-out;
}
.menu-btn:not(:first-child) {
  margin-top: 1rem !important;
}
.active-cat {
  color: var(--primary-color);
}

/* Search bar component */
.search-bar-container {
  width: 100%;
}
.search-input {
  border-radius: unset !important;
}
.search-input:focus {
  box-shadow: 0 0 10px 2px #6c757d40;
  border-color: #000;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times.svg)
    no-repeat 50% 50%;
}

/* Dropdown fix */
.dropdown-fix .btn {
  border: none;
}
.dropdown-fix .dropdown-menu {
  border-radius: unset !important;
  margin-top: -1rem !important;
}
.search-btn {
  border-radius: unset !important;
}

.item-card-container .col-md-3 {
  padding: unset !important;
  width: 24%;
}
.card {
  box-shadow: none !important;
}

.card-title {
  letter-spacing: 2px;
  font-size: 1.25rem !important;
  font-weight: 400;
  white-space: nowrap;
}
.card-text {
  font-size: 1.25rem !important;
  font-weight: 700;
}

/* FOOTER */
.footer-section {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

.footer-links {
  font-size: 1.5625rem !important;
  font-weight: 400 !important;
  transition: all 0.2s ease-out;
}

.footer-icons {
  transition: all 0.2s ease-out;
}
.footer-icons:hover,
.footer-links:hover {
  color: var(--primary-color) !important;
}

/* LOG IN REGISTER FORM */
.form-section-background {
  display: grid;
  place-items: center;
  height: 90.5vh;
  background: url("./images/hero/circles.svg") no-repeat;
  background-size: cover;
  background-position: center;
}
.user-form .form-floating {
  width: 75%;
}

label {
  font-size: 1rem;
}
.sign-up-container,
.sign-in-container {
  position: relative;
  transition: all 0.2s ease-out;
  height: 36.25rem !important;
}

.sliding-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #6c757d;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 5rem;
  z-index: 1;
  color: #fff;
  transition: all 0.2s ease-out;
}

.toggle-text {
  font-weight: 300;
}

.form-toggle {
  translate: 100%;
}

.display-none {
  display: none;
}
.toggle-display {
  display: block;
}

.user-form-signup {
  display: none !important;
}
.sign-in-display {
  display: none !important;
}

.slide-left {
  transform: translate(-100%);
}
/* END OF LOGIN REGISTER FORM */

/* SINGLE PRODUCT PAGE */

.product-title {
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 1px;
}
.product-price {
  font-weight: 500;
}
.product-stock-status {
  font-size: 1rem;
}

.form-select,
#quantity {
  width: 30%;
}

.product-btn-container button {
  width: 48%;
  text-transform: uppercase;
}

/* END OF SINGLE PRODUCT PAGE */

/* ABOUT PAGE */
.about-page {
  height: 60.3vh;
}

.about-text {
  text-align: justify;
  text-indent: 10%;
}

.about-img-container {
  position: relative;
  /* overflow: visible; */
}
.about-img-container::after {
  content: url("./images/about/circles.svg");
  width: 100%;
  height: 100%;
  /* background: url("./images/about/circle.svg") no-repeat;
  background-size: 150%;
  background-position: center; */
  position: absolute;
  /* display: block; */
  top: -30%;
  left: -20%;
  z-index: -9999;
  transform: scale(1.1);
}

/* END OF ABOUT PAGE */

/* CHECKOUT PAGE */
.checkout-background {
  background: url("./images/about/circles.svg") no-repeat;
  background-size: 100%;
  background-position: center;
}
.checkout-page {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
  /* height: 100vh; */
}
.checkout-page-single {
  margin-bottom: 9.9rem;
}
.checkout-order-list {
  overflow-y: scroll;
  height: 20.75rem;
}
/* width */
.checkout-order-list::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.checkout-order-list::-webkit-scrollbar-track {
  background: #f1f1f1;
  visibility: hidden;
}

/* Handle */
.checkout-order-list::-webkit-scrollbar-thumb {
  background: #888;
  visibility: hidden;
  border-radius: 1rem;
  transition: all 0.2s ease-out;
}

/* Handle on hover */
.checkout-order-list:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

/* cart-checkout */
.checkout-text {
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: capitalize;
}

/* END OF CHECKOUT PAGE */

/* DASHBOARD PAGE */
.my-profile {
  background: #f5f5f5;
}
.order-track-info-wrapper {
  border-bottom: #cfcfcf99 solid 1px;
}
.user-title-wrapper {
  border-bottom: #cfcfcf99 solid 1px;
}
.user-title,
.dashboard-btn {
  font-size: 1.5625rem !important;
}
.dashboard-btn {
  border: none;
  background: transparent;
  color: inherit;
}
.dashboard-sublinks {
  font-size: 1rem !important;
  cursor: pointer;
}
.accordion {
  --bs-accordion-border-width: none !important;
}
.accordion-item {
  border: none !important;
}
.accordion-button {
  padding-left: 0 !important;
  font-size: 1.5625rem !important;
}
.accordion-button:not(.collapsed) {
  color: unset !important;
  background-color: unset !important;
}
.accordion-button::after {
  background-image: none !important;
}
.accordion-button:not(.collapsed)::after {
  background-image: none !important;
  transform: var(--bs-accordion-btn-icon-transform);
}
.accordion-button:focus {
  box-shadow: unset !important;
}
.accordion-body {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.single-order {
  background: #f5f5f5;
}
/* END OF DASHBOARD PAGE */

/* CART */
.cart-container {
  position: fixed;
  width: 35vw;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  padding: 1rem;
  transition: all 0.2s ease-out;
  translate: 100%;
}

.cart-active {
  translate: 0;
}
.cart-order-list {
  max-height: 38rem;
  overflow-y: scroll;
}
.border-btm {
  border-bottom: solid var(--bs-border-width) var(--bs-border-color);
}
.cart-img-container {
  width: 35%;
  /* height: 5.625rem; */
  object-fit: cover;
  overflow: hidden;
}

.cart-item-info {
  width: 80%;
  font-size: 1rem;
}
.cart-item-title,
.cart-item-var,
.cart-item-size,
.cart-item-price {
  margin: 0;
  opacity: 0.75;
}
.cart-item-title {
  opacity: 1;
  letter-spacing: 1px;
}
.cart-item-price {
  opacity: 1;
}
.cart-item-var {
  font-style: italic;
}

/* width */
.cart-order-list::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.cart-order-list::-webkit-scrollbar-track {
  background: #f1f1f1;
  visibility: hidden;
}

/* Handle */
.cart-order-list::-webkit-scrollbar-thumb {
  background: #888;
  visibility: hidden;
  border-radius: 1rem;
  transition: all 0.2s ease-out;
}

/* Handle on hover */
.cart-order-list:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

/* END OF CART */

/* ADMIN PANEL */
/* ADMIN LOGIN FORM */
.admin-login-page {
  height: 100vh !important;
}
.logo-container {
  width: 100%;
  height: 4rem;
}

/* REPORT SECTION */
@media screen and (min-width: 576px) {
  .modal-dialog {
    max-width: 700px !important;
  }
}
/* END OF REPORTS SECTION */

/* PRODUCTS SECTION */
.item-thumbnail-form,
.item-preview-form,
.item-name-form,
.item-price-form {
  width: 45%;
}
.form-parent {
  position: relative;
}

.item-info-form {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: all 0.2s ease-out;
}
.variations-form {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: translate(100%);
  transition: all 0.2s ease-out;
}

.next-toggle {
  transform: translate(0);
}
.next-toggled {
  transform: translate(-100%);
}

.var-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.var-input-del {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.dynamic-var {
  max-height: 12.625rem;
  overflow-y: scroll;
}
/* width */
.dynamic-var::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.dynamic-var::-webkit-scrollbar-track {
  background: #f1f1f1;
  visibility: hidden;
}

/* Handle */
.dynamic-var::-webkit-scrollbar-thumb {
  background: #888;
  visibility: hidden;
  border-radius: 1rem;
  transition: all 0.2s ease-out;
}

/* Handle on hover */
.dynamic-var:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
/* END OF PRODUCTS SECTION */

/* ORDERS SECTION */
.admin-single-order {
  position: relative;
  transition: all 0.2s ease-out;
}

/* .admin-single-order::after {
  content: "";
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  transition: opacity 0.2s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #6c757da9;
} */

/* .admin-single-order::after {
  content: "";
  background-color: #6c757da7;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  transition: opacity 0.2s ease-out;
} */

/* .admin-single-order:hover::after {
  opacity: 1;
} */

.admin-single-order-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: all 0.2s ease-out;
  background: #6c757d33;
}

.admin-single-order-overlay:hover {
  opacity: 1;
}
.admin-single-order:hover .so-img,
.admin-single-order:hover .so-info {
  filter: blur(2px);
}

/* paid */
.no-blur:hover .so-img,
.no-blur:hover .so-info {
  /* filter: blur(0px) !important; */
  filter: unset !important;
}

/* END OF ORDERS SECTION */

/* END OF ADMIN PANEL */

/* COURIER PAGE */

.courier-page {
  height: 100vh !important;
}

/* END OF COURIER PAGE */
